transformers
torch
pypdf
langchain==0.0.247
langchain[docarray]
tiktoken
sentence_transformers
chromadb
huggingface_hub
unstructured[local-inference]
gradio==3.35.2
param==1.13.0
openai
python-chess==1.999
